@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-gray-900;
}

.aspect-w-16 {
  position: relative;
  padding-bottom: 56.25%;
}

.aspect-w-16 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.aspect-w-1 {
  position: relative;
  padding-bottom: 100%;
}

.aspect-w-1 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Custom Slider Styles */
.slick-dots {
  bottom: -25px !important;
}

.slick-dots li {
  margin: 0 2px !important;
}

.slick-dots li button:before {
  font-size: 6px !important;
  color: #111827 !important;
  opacity: 0.3 !important;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75 !important;
  color: #111827 !important;
}

.slick-slide {
  padding: 0 4px;
}

.slick-list {
  margin: 0 -4px;
}